<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licorería</title>
    <link rel="icon" href="/img/momentosgratos.jpeg" type="momentosgratos">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="/css/modal.css"> <!-- Link al CSS de la ventana emergente -->
</head>
<body>
    <header>
        <h1>Momentos Gratos Bar</h1>
        <nav>
            <ul>
                <li class="Inicio"><a href="/">Inicio</a></li>
                <li><a href="/cervezas">Cervezas</a></li>
                <li><a href="/aguardiente">Aguardiente</a></li>
                <li><a href="/ron">Ron</a></li>
                <li><a href="/granizados">Granizados</a></li>
                <li><a href="/micheladas">Micheladas</a></li>
                <li><a href="/bebidas">Bebidas</a></li>
            </ul>
        </nav>
    </header>

    <section id="productos" class="productos">
        <div class="producto" id="Cerveza">
            <img src="/img/cerveza/cervezaaguila.jpg" alt="Cerveza">
            <h3>Cerveza</h3>
            <p>$5.000</p>
            <button class="btn-comprar" onclick="window.open('/cervezas')">Ver Producto</button>
        </div>

        <div class="producto" id="Aguardiente">
            <img src="/img/aguardiente/aguardientetapaverde.jpeg" alt="Aguardiente">
            <h3>Aguardiente</h3>
            <p>$90.000</p>
            <button class="btn-comprar" onclick="window.open('/aguardiente')">Ver Producto</button>
        </div>

        <div class="producto" id="Ron">
            <img src="/img/ron/RonLitro.jpeg" alt="Ron">
            <h3>Ron</h3>
            <p>$200.000</p>
            <button class="btn-comprar" onclick="window.open('/ron')">Ver Producto</button>
        </div>

        <div class="producto" id="Granizados">
            <img src="/img/granizados/12onzas.jpeg" alt="Granizados">
            <h3>Granizados</h3>
            <p>$12.000</p>
            <button class="btn-comprar" onclick="window.open('/granizados')">Ver Producto</button>
        </div>

        <div class="producto" id="Michelada">
            <img src="/img/micheladas/micheladanormal.png" alt="Michelada">
            <h3>Michelada</h3>
            <p>$15.000</p>
            <button class="btn-comprar" onclick="window.open('/micheladas')">Ver Producto</button>
        </div>

        <div class="producto" id="smirnoff">
            <img src="/img/cerveza/smirnoff.jpg" alt="smirnoff">
            <h3>Smirnoff</h3>
            <p>$16.000</p>
            <button class="btn-comprar" id="ver-smirnoff">Ver Producto</button>
        </div>
    </section>

    
    <div id="modal-smirnoff" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Smirnoff</h2>
            <p>Smirnoff con buen sabor para pasar un rato agrable, Precio: $16.000</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Licorera</p>
    </footer>

    <script src="/js/productos.js"></script>
</body>
</html>
