<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Momentos Gratos Bar</title>
    <link rel="icon" href="/img/momentosgratos.jpeg" type="momentosgratos">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <nav>
            <h1>Momentos Gratos Bar</h1>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h2>¡Descubre Nuestros Mejores Licores!</h2>
        <a href="/productos" class="cta-btn">Ver Productos</a>
    </section>

    <main>
        <section id="productos" class="productos-container">
            <h2>Nuestros Productos</h2>
            <div class="grid-productos">
                
                <div class="producto">
                    <a href="/aguardiente"><img src="/img/aguardiente/aguardientetapaverde.jpeg" alt="Aguardiente"></a>
                    <h3>Aguardiente Litro</h3>
                    <p class="precio">$90.000</p>
                    <button class="cta-btn" onclick="location.href='/aguardiente'">Ver Producto</button>
                </div>

                <div class="producto">
                    <a href="/ron"><img src="/img/ron/RonLitro.jpeg" alt="Ron"></a>
                    <h3>Ron Garrafa</h3>
                    <p class="precio">$200.000</p>
                    <button class="cta-btn" onclick="location.href='/ron'">Ver Producto</button>
                </div>

                <div class="producto">
                    <a href="/cervezas"><img src="/img/cerveza/cervezaaguila.jpg" alt="Cerveza"></a>
                    <h3>Cerveza Aguila</h3>
                    <p class="precio">$5.000</p>
                    <button class="cta-btn" onclick="location.href='/cervezas'">Ver Producto</button>
                </div>

                <div class="producto">
                    <a href="/granizados"><img src="/img/granizados/12onzas.jpeg" alt="Granizados"></a>
                    <h3>Granizados</h3>
                    <p class="precio">$12.000</p>
                    <button class="cta-btn" onclick="location.href='/granizados'">Ver Producto</button>
                </div>

                <div class="producto">
                    <a href="/micheladas"><img src="/img/micheladas/micheladanormal.png" alt="Micheladas"></a>
                    <h3>Micheladas</h3>
                    <p class="precio">$15.000</p>
                    <button class="cta-btn" onclick="location.href='/micheladas'">Ver Producto</button>
                </div>

                <div class="producto" id="smirnoff">
                    <img src="/img/cerveza/smirnoff.jpg" alt="smirnoff">
                    <h3>Smirnoff</h3>
                    <p class="precio">$16.000</p>
                    <a class="cta-btn" id="ver-smirnoff">Ver Producto</a>
                </div>

                <div class="producto">
                    <a href="/bebidas"><img src="/img/bebidas/cocacola.png" alt="Bebidas"></a>
                    <h3>Bebidas</h3>
                    <p class="precio">$5.000</p>
                    <button class="cta-btn" onclick="location.href='/bebidas'">Ver Producto</button>
                </div>
            </div>
        </section>
    </main>

    <div id="modal-smirnoff" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Smirnoff</h2>
            <img src="/img/cerveza/smirnoff.jpg" alt="Imagen de Smirnoff" class="img-modal">
            <p>Smirnoff para pasar un rato agradable. Precio: $16.000</p>
        </div>
    </div>

    <script src="/js/index.js"></script>

    <footer>
        <p>&copy;Licorera</p>
    </footer>
</body>
</html>
