<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licorería</title>
    <link rel="icon" href="/img/momentosgratos.jpeg" type="momentosgratos">
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body>
    <header>
        <h1>Momentos Gratos Bar</h1>
        <nav>
            <ul>
                <li class="Inicio"><a href="/">Inicio</a></li>
                <li><a href="/cervezas">Cervezas</a></li>
                <li><a href="/aguardiente">Aguardiente</a></li>
                <li><a href="/ron">Ron</a></li>
                <li><a href="/granizados">Granizados</a></li>
                <li><a href="/micheladas">Micheladas</a></li>
                <li><a href="/bebidas">Bebidas</a></li>
            </ul>
        </nav>
    </header>

    <section id="productos" class="productos">
        <div class="producto" id="Cerveza">
            <a href="/cervezas"><img src="/img/cerveza/cervezaaguila.jpg" alt="Cerveza"></a>
            <h3>Cervezas</h3>
            <!-- <p>$5.000</p> -->
            <button class="cta-btn" onclick="location.href='/cervezas'">Ver Producto</button>
        </div>

        <div class="producto" id="Aguardiente">
            <a href="/aguardiente"><img src="/img/aguardiente/aguardientetapaverde.jpeg" alt="Aguardiente"></a>
            <h3>Aguardiente</h3>
            <!-- <p>$90.000</p> -->
            <button class="cta-btn" onclick="location.href='/aguardiente'">Ver Producto</button>
        </div>

        <div class="producto" id="Ron">
            <a href="/ron"><img src="/img/ron/RonBotella.jpeg" alt="Ron"></a>
            <h3>Ron</h3>
            <!-- <p>$110.000</p> -->
            <button class="cta-btn" onclick="location.href='/ron'">Ver Producto</button>
        </div>

        <div class="producto" id="Granizados">
            <a href="/granizados"><img src="/img/granizados/granizado.jpg" alt="Granizados"></a>
            <h3>Granizados</h3>
            <!-- <p>$12.000</p> -->
            <button class="cta-btn" onclick="location.href='/granizados'">Ver Producto</button>
        </div>

        <div class="producto2" id="Michelada">
            <a href="/micheladas"><img src="/img/micheladas/micheladasoda3.jpg" alt="Michelada"></a>
            <h3>Micheladas</h3>
            <!-- <p>$15.000</p> -->
            <button class="cta-btn" onclick="location.href='/micheladas'">Ver Producto</button>
        </div>

        <!-- Producto Smirnoff con modal -->
        <div class="producto" id="smirnoff">
            <img src="/img/cerveza/smirnoff.jpg" alt="smirnoff">
            <h3>Smirnoff</h3>
            <p>$16.000</p>
            <button class="cta-btn" id="ver-smirnoff">Ver Producto</button>
        </div>

        <div class="producto" id="Coca-Cola">
            <a href="/bebidas"><img src="/img/bebidas/cocacola.png" alt="Coca-Cola"></a>
            <h3>Bebidas</h3>
            <!-- <p>$5.000</p> -->
            <button class="cta-btn" onclick="location.href='/bebidas'">Ver Producto</button>
        </div>
    </section>

    <div id="modal-smirnoff" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Smirnoff</h2>
            <img src="/img/cerveza/smirnoff.jpg" alt="Imagen de Smirnoff" class="img-modal">
            <p>Smirnoff para pasar un rato agradable. Precio: $16.000</p>
        </div>
    </div>

    <footer>
        <p>&copy;Licorera</p>
    </footer>

    <script src="js/productos.js"></script>
</body>
</html>
